*.js~
*.vad
fct_dav_install.sql~
*.ttl~
*.html~
marc-readme.md~
problem.txt
*.md~
*.sql~
rrdf-sample-rdf-load.sql~
virtuoso_db/virtuoso-temp.db
*.db
virtuoso_db/virtuoso.log
*.trx
virtuoso_db/virtuoso.pxa